/*search header*/
.header {
  background-color: #ccb9bc;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  /* background-color: cadetblue; */
  /* width: 15%; */
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #af4448;
  display: flex;
}
.logo__tit {
  margin-left: 10px;
  font-size: 20px;
}

.form {
  /* background-color: aquamarine; */
  width: 50%;
  margin-left: 20px;
}
.box {
  font-size: 20px;
  width: 90%;
  padding: 5px;
  border-radius: 0;
}
.button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #ffcccb;
  color: #af4448;
}

.user {
  /* background-color: cadetblue; */
  width: 160px;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
}
.user strong {
  background-color: #ffcccb;
  color: #ef9a9a;
  display: block;
  width: 40px; height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
    flex-direction: column;
  }
  .navbar {
    /* background-color: thistle; */
    justify-content:initial;
    position: relative;
  }
  .logo {
    width: 95%;
    margin-bottom: 10px;
  }
  .form {
    width: 95%;
    display: inline-block;
    margin-left: 0;
    
  }
  .box{
    /* display: none; */
    /* position: absolute; */
    width: 85%;
    left: 0;
    top : 60px;
  }
  .button {
    /* background-color: transparent; */
    /* position: absolute; */
    width: 15%;
    top: 50%;
    right: 50px;
  }
  .button svg {

  }
  .user {
    margin-left: 10px;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
  }
}
