/*app.css*/
body {
  box-sizing: border-box;
}
.app {
  background-color: #ffebee;
  margin: 0 auto;
  /* width: 95%; */
}

.content {
  display : flex;
}
.detail {
  flex: 1 1 70%;
}
.list {
  flex: 1 1 30%; 
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .detail {
    flex: 1 1 100%;
  }
  .list {
    flex: 1 1 100%; 
  }
}