/*app.css*/
body {
  /* background-color: #ffcccb; */
  box-sizing: border-box;
}
.container {
  /* background-color: #ef9a9a; */
  background-color: #ffcccb;
  margin: 0 auto;
  width: 95%;
}

/*videos.css*/
.videos {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row; 
  flex-wrap: wrap;
}